.import/
godot/.godot/
export.cfg
export_presets.cfg
~$meProgWord.docx
new-game-project/assets/stage/cave/tileset.png.import
new-game-project/assets/stage/grass/Tileset.png.import
new-game-project/assets/stage/cave/tileset.png.import
new-game-project/assets/stage/grass/Tileset.png.import
